<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    </head>
    <h1>StaticPages#home</h1>
    <p>Find me in app/views/static_pages/home.html.erb</p>
    <a href="http://www.stephenslee.xyz"><em>My Website</em></a>
</html>